::-webkit-scrollbar {
  display: none;
  width: 6px;
}

:root {
  --accent-color: rgb(255, 45, 45);
}
i {
  color: var(--accent-color);
}
a {
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: transparent;
  background: #ffffff;
  height: 150px;
}
::-webkit-scrollbar-track {
  background: #000000;
}

.backdropContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}

.backdropSwiper {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-out;
  filter: blur(10px);
  overflow: hidden;
  cursor: grab;
}
.backdropSwiper:active{
  cursor: grabbing;
}

.backdropImage,
.posterImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.backdropImage {
  object-position: center 100%;
}

.posterContainer {
  position: absolute;
  bottom: 25px;
  height: 240px;
  width: 180px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
  display: none;
}
.posterSwiper {
  border-radius: 12px;
  overflow: hidden;
}
.infoContainer {
  position: absolute;
  left: 60px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: #e8e8e8;
  width: 50%;
  gap: 13px;
  opacity: 0;
  transition: 0.5s ease-out;
  filter: blur(10px);

  p,
  i {
    font-size: 1.2rem;
  }
}
.backdropSwiper.swiper-slide-active {
  opacity: 1;
  filter: blur(0);

  .infoContainer {
    opacity: 1;
    transition-delay: 0.3s;
    filter: blur(0);
  }
}
.logoImage {
  aspect-ratio: 16 / 9;
  width: 50%;
  object-fit: contain;
}

header svg {
  color: var(--accent-color);
}
.swiper-slide {
  display: flex;
  align-items: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2.2rem;
  color: white;
  background: rgba(0, 0, 0, 0.349);
  padding: 10px;
}

.swiper-pagination-progressbar-fill {
  background: var(--accent-color) !important;
  height: 1.6px !important;
}
.landingTrailer {
  position: absolute;
  left: 90px;
  aspect-ratio: 16 / 9;
  height: 134%;
  pointer-events: none;
  border: none;
}
.controlContainer {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
.hideTrailer {
  display: none;
}
/* .lazy-load {
  filter: blur(10px);
  transition: filter 1s ease;
}
.blur-effect {
  filter: blur(10px);
}
.lazy-load.loaded {
  filter: blur(0);
} */
.visibilityButton {
  display: none;
}
.unmuteButton,
.visibilityButton,
.iframeHide {
  cursor: pointer;
}
.searchBarContainer {
  position: relative;
  width: 13%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.searchBar {
  width: 55%;
  position: absolute;
  height: 100%;
  /* border-radius: 12px 0 0 12px; */
  padding: 0 15px;
  border-radius: 5px;
  transition: 0.2s ease-out;
  outline: none;
  border: none;
}
.searchIcon {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -42px;
  color: black;
  font-weight: 700;
  background: #e8e8e8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  /* border-radius: 0 12px 12px 0; */
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.477);
}

.searchResultContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.481);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-out;
  padding-top: 120px;
  gap: 10px;
}
.searchBar.active {
  width: 120%;
}
.searchResultContainer.active {
  opacity: 1;
  pointer-events: all;
}
#results {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  overflow: auto;
}
.searchCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.searchCard {
  aspect-ratio: 16 / 9;
  width: 18%;
  cursor: pointer;
  min-width: 220px;
  max-width: 281px;
  max-height: 158px;
  flex-grow: 1;
}
.searchCardImage {
  object-fit: cover;
}

.logoCompanyImg {
  width: 15%;
  min-width: 200px;
  border-left: 5px solid rgb(255, 0, 0);
  padding-left: 20px;
  margin-left: 10px;
}

.networkSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: #0d0d0d;
  height: 80vh;
}
.networkSection:nth-child(1) {
  /* border-radius: 18px 18px 0 0; */
}
.networkSection::after {
  pointer-events: none;
  position: absolute;
  width: 10%;
  right: 0;

  content: "";
  height: 80%;
  background: linear-gradient(90deg, #0d0d0d00, #0d0d0d);
  z-index: 1;
}

.companySlide {
  position: relative;
  height: 300px;
  width: 210px;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  color: #e8e8e8;
  font-weight: 300;
}
.companySlide:hover {
  transform: scale(1.08);
}

.backdropImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.1s ease-out;
}

.backdropImg:active {
  transform: scale(0.97);
}

.companyCardTitleContainer {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  bottom: -27px;
}
.companyCardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-tooltip {
  position: absolute;
  width: 360px;
  height: 208px;
  z-index: 999;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.movie-tooltip.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition-delay: 0.2s;
}
.movie-tooltip-content {
  position: relative;
  background: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}
.movie-tooltip-image {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.movie-tooltip-title {
  position: relative;
  z-index: 999;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.849);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-tooltip-overview {
  position: relative;
  z-index: 999;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.849);
  display: -webkit-box; /* Enable flexbox for multi-line truncation */
  -webkit-box-orient: vertical; /* Set vertical orientation for the box */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
  -webkit-line-clamp: 3; /* Limit to 4 lines */
}

.movie-tooltip-rating {
  position: relative;
  z-index: 999;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.849);
}
.movie-tooltip-rating span {
  color: yellow;
}
.movie-tooltip-content::before {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  content: "";
  z-index: 888;
  background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.537));
}

.movie-tooltip-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 5px 10px 5px 0;
  margin-top: 7px;
  background: white;
  width: 100px;
  color: #0d0d0d;
  border-radius: 25px;
}
.movie-tooltip-button:active {
  transform: scale(0.95);
}

.lazy-load {
  filter: blur(10px);
  opacity: 0;
  transition: 1s ease-out;
}

.blur-effect {
  filter: blur(10px);
  opacity: 0;
}

.lazy-load.loaded {
  filter: blur(0);
  opacity: 1;
}

.iframePlayer {
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #060606;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}
.iframePlayerActive {
  display: flex;
}
#iframeIframe {
  height: 100%;
  width: 100%;
  border: 0;
}
#iframeSelect {
  position: absolute;
  top: 5px;
  right: 0;
  background: whitesmoke;
  border: 1px solid white;
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  margin: 20px;
  border-radius: 5px;
  transition: 0.5s ease;
}
#closePlayer {
  transition: 0.5s ease;
}

#closePlayer {
  position: absolute;
  color: whitesmoke;
  font-size: 2rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.399);
  transition: 0.1s ease-out;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  bottom: 20%;
}

#closePlayer::after {
  content: "Back";
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
  bottom: -60px;
}

#closePlayer:hover {
  background: white;
  color: black;
  transform: scale(1.05);
}
#closePlayer:active {
  transform: scale(0.95);
}
.arrowUp {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding: 10px;
}
.arrowUp span {
  color: var(--accent-color);
  font-size: 3rem;
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrowUp span:nth-child(2)::after {
  content: "SCROLL";
  font-size: 0.7rem;
  color: #e8e8e8;
}

.meow-movie {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #202020;
  padding: 110px 10px 10px 10px;
  gap: 40px;
}
.genreContainer {
  width: 100%;
}
.genreSlide {
  width: 100px;
}
label {
  border: 2px solid rgb(26, 26, 26);
  box-shadow: 2px 2px 6px #111111, -2px -2px 6px #2f2f2f;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 0.9rem);
  transition: 0.3s;
  color: #e8e8e8;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  min-width: 80px;
  padding: 8px 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: 400;
  transition: 0.3s ease-out;
}
label:hover {
  background: rgb(19, 19, 19);
}
label.checked {
  cursor: pointer;
  background: #0d0d0d1a;
  color: var(--accent-color);
  font-weight: 500;
  transform: scale(0.95);
  transition: 0.1s;
}
input[type="checkbox"] {
  display: none;
}
#genreMovieContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.genreCard {
  height: 360px;
  width: 240px;

  flex-grow: 1;
  border-radius: 10px;
  overflow: hidden;
}
.genreCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#castContainer {
  display: flex;
  padding: 0 0 60px 0;
}

.castimageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}

.castimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.seasonSlide {
  width: 230px;
}

.seasonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.seasonContainer:active {
  cursor: grabbing;
}
.seasonSlide {
  position: relative;
  background-color: #00000000;
  border: 1px solid rgba(0, 0, 0, 0.556);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px #000000, -2px -2px 6px #1f1f1f;
}

.seasonSlide h1 {
  padding: 6px 10px 8px 10px;
  font-size: 1.7rem;
  -webkit-text-stroke: 0.5px #ffffffe4;
  font-weight: 700;
  color: #ffffff10;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.episodeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: auto;
  background: linear-gradient(90deg, rgb(255, 0, 0), black);
}
.episodeSlide {
  width: 100%;
  display: flex;
  height: 220px;
  gap: 20px;
  background: #0d0d0d;
  padding: 25px 0;
  cursor: pointer;
}
.episodeImageContainer {
  width: 35%;
  height: 100%;
}
.episodeImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-position: center;
  border-radius: 5px;
}

.episodeNameContainer {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  overflow: hidden;
}
