@media only screen and (max-width: 768px) {
  nav,
  .movie-tooltip {
    display: none;
  }
  .searchBarContainer {
    display: none;
  }
  .infoContainer {
    left: unset;
    bottom: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .infoContainer p,
  .infoContainer i {
    font-size: 1rem;
  }

  .backdropSwiper::before {
    background: linear-gradient(0deg, #000000 15%, #0d0d0d36);
  }
  .posterContainer {
    display: flex;
  }

  .logoImage,
  .landingTitle,
  .landingOverview {
    display: none;
  }
  .landingTagline {
    text-align: center;
    padding: 10px;
  }
  .backdropSwiper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landingTrailer {
    left: unset;
    height: 120%;
  }
  .visibilityButton {
  display: flex;
}
}
