@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 3px;
    width: calc(100% - 6px);
    border-radius: 5px;
    padding: 5px;
  }
  nav,
  .movie-tooltip {
    display: none;
  }
  .searchBarContainer {
    display: none;
  }
  .infoContainer {
    left: unset;
    bottom: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .infoContainer p,
  .infoContainer i {
    font-size: 1rem;
  }

  .backdropSwiper::before {
    background: linear-gradient(0deg, #000000 15%, #0d0d0d36);
  }
  .posterContainer {
    display: flex;
  }

  .logoImage,
  .landingTitle,
  .landingOverview {
    display: none;
  }
  .landingTagline {
    text-align: center;
    padding: 10px;
  }
  .backdropSwiper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landingTrailer {
    left: unset;
    height: 120%;
  }
  .visibilityButton {
    display: flex;
  }
  .networkSection {
    height: unset;
    padding-top: 30px;
  }

  .backdropImg {
    border-radius: 5px;
  }
  .swiperContainer {
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 0 60px 0;
  }
  .companyTitle {
  font-size: 2rem;
}
}
